:root{
  --cyan: hsl(176, 68%, 64%);
  --blue: #0076A8;
  --mainBackground: hsl(217, 28%, 15%); 
  --textColor: hsl(0, 0%, 100%);
  --testemonialsBackground: hsl(218, 28%, 13%);
  --cardBackground: hsl(219, 30%, 18%);
  --featuresBackground: hsl(218, 28%, 13%);
  --aboutBackground:  hsl(218, 28%, 13%);
  --footerBackground:  hsl(216, 53%, 9%);
  --newsletterBackground: hsl(217, 28%, 15%);
  --btnTextColor: #FFFFFF;
  --gradient: url("../assets/images/bg-curvy-desktop.svg");
  --newsletterText: #FFFFFF;
  --btn-theme: #fdfdfd;
  --testemonialsHole: #BABABA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body{
  background-color: var(--mainBackground);
  color: var(--textColor) ;
}

h1, h2, h3,h5{
  font-family: Raleway, sans-serif;
}

.container-fluid{
  padding: 2% 5%;
}

/* Nav Section  */

#nav-bar{
  font-family: Raleway;
	width: 100%;
	float: left;
	margin-top: 2rem; 
	padding: 0;
	list-style: none;
}

#nav-bar li {
  float: right; 
}

#nav-bar li:first-child{
  float: left;
}

#nav-bar li:first-child img{
  width: 8rem;
}

#nav-bar li a {
  display: block;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  color: var(--textColor);
}
@media (max-width : 1024px) {
  #nav-bar .container-fluid{
   margin: 0 10%;
 } 
}

@media (max-width : 380px) {
  #nav-bar{
    font-size: 0.8rem;
  }

  #nav-bar li:first-child img{
    width: 5rem;
  }

  #nav-bar li a {
    margin-top: -0.2rem;
  }
  
}

/* Title Section  */

#title{
  background: var(--gradient) no-repeat center bottom -35px;
  background-size: contain;
  padding-top: 6%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

#title .container-fluid{
  margin: 0 25%;
}

#title img:first-child {
  width: 80%;
  margin-bottom: 11%;
}

#title p{
  margin: 3% auto;
  word-wrap: break-word;
  width: 75%;
}

#title button {
  background: var(--blue);
  border-radius: 28px;
  color: var(--btnTextColor);
  font-size: 1.2rem;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  border: none;
  margin-bottom: 5%;
}

#title button:hover{
  background: var(--cyan);
  text-decoration: none;
}

@media (max-width : 1024px) {
  #title {
    padding-top: 15%;
  }
}

@media (max-width : 600px) {
  #title {
    padding-top: 30%;
  }
  #title .container-fluid{
    margin: 0;
  } 
}

/* Features Section  */

#features{
  background-color: var(--featuresBackground);
  width: 100%;
  text-align: center;
  line-height: 1.5;

}

#features .grid-item{
  padding: 3% 10%;
}

#features .grid-item img{
  margin-bottom: 6%;
}
#features strong{
  font-size: 1.2rem;
  display: block;
}

@media (max-width : 600px) {
  #features .grid-item{
    margin-top: 15%;
  }
}

/* About Section  */

#about{
  background-color:var(--aboutBackground);
  padding-top: 5%;
  line-height: 1.5;
}

.illustration-about{
  width: 85%;
  float: right;
  vertical-align: middle;
}

#about .grid-item{
  margin: auto;
  padding-right: 10%;
}

#about h2{
  font-size: 2.3rem;
  max-width: 75%;
}

.cta {
  text-decoration: none;
  color: var(--cyan);
  border-bottom: 1px solid var(--cyan);
}
.cta:hover{
  color: var(--textColor);
  border-bottom: 1px solid var(--textColor);
}

.cta-btn{
  width: 12px;
}

@media (max-width : 600px) {
  #about{
    text-align: center;
  }
  .illustration-about{
    float: none;
  }
  #about .grid-item{
    text-align: left;
    padding-right: 0;
  }

  #about h2{
    font-size: 1.2rem;
    max-width: 75%;
  }
  #about p{
    font-size: 1rem;
  }
}

@media (max-width : 1024px) {
  #about {
    padding-top: 20%;
  }
  
}

/* Testemonials Section  */

#testemonials{
  background-color: var(--testemonialsBackground);
  padding-top:8%;
  padding-bottom: 16%;
}

/* Card */

#card{
  background-color: var(--cardBackground);
  border-radius: 8px;
  padding: 8%;
  padding-top: 13%;
  line-height: 1.5;
}

#card span{
  color: var(--testemonialsHole);
  font-size: 0.8rem;
}

#card strong{
  display: block;
}

.profile-pic{
  border-radius: 50%;
  width: 10%;
  display: inline-block;
  vertical-align: middle;
}

.about-user{
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
  width: 80%;
  margin-top: 0;
}

.user-info{
  margin-top: 5%;
  line-height: 1;
  vertical-align: middle;
}
#testemonials .container-fluid{
  position: relative;
}

.quotes-icon{
  position: absolute;
  top: -2%;
  left: 4.5%;
}

.grid-quotes{
  position: relative;
  height: fit-content;
}

/* Footer Section  */

footer{
  background-color:var(--footerBackground);
  padding-top: 30%;
  font-size: 0.9rem;
}

.footer-logo{
  margin-bottom: 4%;
}

iframe{
  width: 100%;

}

.footer li {
  list-style-type: none;
  padding: 4% 0;
  vertical-align: middle;
}

.footer li img{
  padding-right: 3%;
  display: inline-block;
  vertical-align: middle;
}

.footer li:hover, #social-medias li:hover{
  font-weight: bold;
}

#social-medias li img{
  width: 14%;
  vertical-align: middle;
  padding-right: 4%;
}

#social-medias li{
  vertical-align: middle;
  padding: 4% 0;
}

#social-medias{
  width: 100%;
	float: left;
	padding: 0;
  padding-bottom: 2%;
	list-style: none;
}

@media (max-width : 956px) {
  footer {
    padding-top: 30%;
  }
  
  #social-medias li img{
    width: 8%;
  }
}

#newsletter{
  width: 50%;
  text-align: center;
  background-color: var(--newsletterBackground);
  color: var(--newsletterText);
  margin:0 auto;
  padding: 3%;
  line-height: 1.5;
  margin-top: -40%;
  border-radius: 10px;
  -webkit-box-shadow: 13px 11px 21px -4px rgba(0,0,0,0.43);
  -moz-box-shadow: 13px 11px 21px -4px rgba(0,0,0,0.43);
  box-shadow: 13px 11px 21px -4px rgba(0,0,0,0.43);
}

#newsletter button {
  background: var(--blue);
  border-radius: 28px;
  color: var(--btnTextColor);
  font-size: 1rem;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  border: none;
  margin-bottom: 5%;
  margin-left: 3%;
}

#newsletter button:hover{
  background: var(--cyan);
  text-decoration: none;
}

#newsletter input{
  width: 50%;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  padding: 1.2%;
}
#newsletter p{
  padding: 3.5% 0;
}

@media(max-width: 1024px){
  #newsletter{
    width: 90%;
    margin-top: -80%
  }
  footer{
    padding-top: 60%;
  }
  #testemonials{
    padding-bottom: 30%;
  }
  .footer-logo{
    margin-top: 15%;
  }
}

@media(max-width: 540px){
  #newsletter input{
    margin-bottom: 4%;
    width: 70%;

  }
}

.btn {
  display: flex;  
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 4%;
  bottom: 4%;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: var(--btn-theme);
  outline: none;
  border: none;
  transition: margin-bottom 0.2s ease-in;
  cursor: pointer;
}

.btn:hover{
  margin-bottom: 1%;
}

.btn-theme{
  width: 60%;
}